footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    }

footer > div {
    order: 0;
    flex: 0 0 auto;
    align-self: auto;
    margin: 20px;
    width: 50%;
    }

footer p {
    margin: 5px;
    text-align: justify;


}


footer .icone {
    margin-right: 15px;
    float: left;
    clear: left;

}

body{
    background-color: #f0fff7;
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    margin-top: 2%;
}

    

